.pic{
   border-radius: 50%;
  -webkit-box-shadow: 10px 10px 40px #999;
          box-shadow: 10px 10px 40px #999;
}

.pic:hover{
    animation-name:bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*formulario*/
.card-login{
    padding: 0 1.25rem 15px 1.25rem;
}
.label-form{
    font-weight: bold;
}
.form-control.is-valid{
    border: 1px solid #ced4da!important;
}
.form-control.is-invalid{
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
}

.zona-1 {
  margin-top: -10px;
}

.close{
    position: absolute!important;
    top: 5px!important;
    right: 10px!important;
    color:#fff!important;
}

.modal-header{
  text-align: center;
  color:#fff;
  background-color: #007bff;
  display: block!important;
}